<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  </head>
  <body>
    <div id='doc' class="container"><br>

    </div>

    <script type="text/javascript">
      var loc = window.location.href
      arr = loc.split('?vision=')
      document.getElementById('doc').innerHTML = decodeURIComponent(arr[1])
    </script>
  </body>
</html>
